.mainContentContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	background-color: white;
	border-radius: 16px
}

.mainContentContainerHeader {
	display: flex;
	justify-content: space-between;
}

.mainContentContainerTitle {
	float: left;
	font-size: 1.2em;
}
.mainContentContainerHeaderRightSide {
	display: flex;
	flex-direction: column;
	width: 39rem;
}

.mainContentContainerHeaderRightSideChild {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.mainContentContainerHeaderLeftSideButtons {
	float: right;
	display: flex;
	gap: 1
}

.advancedSearchMainBox {
	background-color: #fafbff;
	padding: 1rem;
	margin-top: 1rem;
}

.advancedSearchMainBoxHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.advancedSearchMainBoxHeaderTitle {
	font-size: 1.2em;
	font-weight: 400;
}

.advancedSearchMainBoxHeaderChildTitle {
	color: #949494;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

.advancedSearchSingleFilter {
	background-color: white;
	border: 1px solid #e4e5e9;
	padding: 0.5rem;
	padding-bottom: 1.5rem;
	border-radius: 0.4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem
}

.advancedSearchSingleFilterRemoveButtonContainer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.advancedSearchSingleFilterRemoveButton {
	width: 8rem;
	display: flex;
	justify-content: space-between;
}

.advancedSearchSingleFilterTextFieldsContainer {
	background-color: white;
	padding: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 0.4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0;
}

.advancedSearchSingleFilterTextField {
	width: 25% !important;
	margin-right: 0.3rem !important;
}

.addFilterButton {
	margin-top: 1rem;
	border-radius: 5px;
}

.actionIcon {
	cursor: pointer;
	text-decoration: none;
	color: black
}

.doctorEmail {
	font-weight: 500;
	color: #4E4E4E
}

.statusCircle {
	height: 0.5rem;
	width: 0.5rem;
}

.tableLoadingComponent {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

.filtersLogicButton {
	width: 5.5rem !important;
	margin-bottom: 1.5rem !important;
	margin-Right: 0.3rem !important;
}

.statusTableCellContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 6.8rem;
}