.form-wrapper .css-1ymyy0f-MuiTypography-root {
  margin-top: 5px;
}

.form-wrapper .css-1mk9mw3-MuiList-root li p {
  margin: 0;
}

.form-wrapper .css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-top: 0 !important;
}

.form-wrapper .css-mhc70k-MuiGrid-root {
  gap: 10px;
}

.form-wrapper .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 1px solid #eaeaea;
  border-radius: 12px;
}

.form-wrapper .css-hjxq00-MuiFormLabel-root-MuiInputLabel-root {
  font-weight: bold;
  font-size: 18px;
  color: #131626;
  text-transform: capitalize;
}

.form-wrapper .css-14lo706 > span {
  padding-left: 21px;
}

.form-wrapper .css-178yklu {
  display: none;
}
