.ticket-date{
  display: flex;
  align-items: center;
}
.ticket-date p{
  color:#9FA0A6;
  /*padding: 20px*/
  margin: 0;
  font-size:12px
}
.ticket-date p span{
  color: #131626
}

#support-tab .Mui-selected{
  background-color:#6C5DD3;
  color: #ffffff;
  border-radius:10px;
  border: none;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
#support-tab .MuiTabs-indicator, #support-tab-panel .MuiTabs-indicator{
  display: none;
}