.container {
  min-height: 100vh !important;
  /* padding: 20px; */
  border: transparent !important;
}

.navigation {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.namePage {
  font-weight: 600 !important;
  font-size: 24px !important;
  color: #131626;
}

.viewItems {
  color: #9fa0a6;
  cursor: pointer;
}

.viewList {
  color: #9fa0a6;
  cursor: pointer;
}

.btn {
  width: 138px;
  height: 40px;
  background: #6c5dd3 !important;
  box-shadow: 0px 5px 10px rgba(74, 92, 208, 0.2);
  border-radius: 99px !important;
  color: white !important;
  cursor: pointer;
}

.searchArea {
  display: flex;
  background: #ffffff;
  border-radius: 16px;
  margin-top: 16px;
  padding: 16px;
}

.roleArea {
  width: 52%;
  border-right: 1px solid #f4f4f4;
}

.labelRole {
  font-weight: 600 !important;
  font-size: 16px !important;
  text-transform: uppercase;
  color: #081735 !important;
}

.searchKeyword {
  padding-left: 1.5rem;
  width: 48%;
}

.labelKeyword {
  font-weight: 600 !important;
  font-size: 16px !important;
  text-transform: uppercase;
  color: #081735;
}

.boxSearch {
  border: 1px solid #eaeaea;
  border-radius: 12px;
  margin-top: 16px;
  height: 48px;
  line-height: 48px;
  padding: 11px 0 11px 14px;
  display: flex;
  color: #9fa0a6;
}

.btnSearch {
  margin-top: 16px !important;
  width: 9.625rem;
  background-color: #6c5dd3 !important;
  color: white !important;
  height: 40px;
  box-shadow: 0px 5px 10px rgba(74, 92, 208, 0.2);
  border-radius: 99px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.staffList {
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
  background: white;
}

.headerTable {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.titleTable {
  font-weight: 600 !important;
  font-size: 16px !important;
  text-transform: uppercase;
  color: #131626;
}

.searchTable {
  border: 1px solid #eaeaea;
  border-radius: 12px;
  height: 48px;
  line-height: 48px;
  padding: 11px 0 11px 14px;
  display: flex;
  color: #9fa0a6;
  width: 29%;
}

.cellTable {
  font-weight: 600 !important;
  font-size: 14px !important;
  color: #131626 !important;
}

.bodyTable {
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #131626 !important;
  height: 60px !important;
}

.nameDoctor {
  padding: 0 12px;
  height: 24px;
  border: 1px solid #b7d9f4;
  border-radius: 21px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1685da;
}

.nameOther {
  padding: 0 12px;
  height: 24px;
  border: 1px solid #bae5c8;
  border-radius: 21px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #22aa4f;
}

.nameNurse {
  padding: 0 12px;
  height: 24px;
  border: 1px solid #feeaf4;
  border-radius: 21px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f92f91;
}

.action {
  display: flex;
  height: 57px;
  color: #4e4e4e !important;
  cursor: pointer;
}
