.question-container {
  max-width: 675px;
  min-height: 100vh;
}

.answer-container {
  width: 500px !important;
  display: flex !important;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
  gap: 10px;

}

.answer-container .answer {
  height: 75px;
  border: 1px solid #EAEAEA;
  border-radius: 20px;
  margin-top: 8px;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.answer-container .answer div {
  padding-top: 4px;
}

.back {
  color: var(--active-color);
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.button-container button {
  font-size: 18px;
  font-weight: bold;
  max-width: 290px;
  width: 40%;
  height: 45px;
  border-radius: 12px;
  transition: 0.1s color;
  justify-content: center;
  align-items: center;
  display: flex;
}

.inactive-icon {
  color: gray;
}

.active-icon {
  color: black;
}

.button-container button:hover .active-icon {
  color: var(--active-color);
}

.number-input{
  width: 100% !important;
  padding:10px 20px !important;
  border-radius: 12px !important;

}
.text-input{
  width: 100% !important;
  padding: 15px !important;
  border-radius: 20px !important;
}
.text-container{
  max-width: "auto";
  min-width: 450px;
}

.date-picker{
  padding: 20px 20px !important;
  border-radius: 20px !important;
}