.tableCell_TableHead {
    font-weight: 600 !important;
    font-size: 14px;
    color: #131626 !important;
}

.toolbar_TableToolbar {
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: space-between;
    margin: 16px;
}

.typo_TableToolbar {
    line-height: 48px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #131626;
    margin-left: -16px !important;
    padding: 0;
}

.input_TableToolbar {
    height: 48px;
    width: 20.688rem;
    border: 1px solid #EAEAEA !important;
    border-radius: 12px !important;
    display: flex;
    color: #9FA0A6 !important;
    margin-right: -8px;
}

.title_Billing {
    font-size: 24px;
    color: #131626;
    font-weight: 600;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 20px;
}

