.header_Detail {
    background-color: white !important;
    border-bottom: 1px solid #EAEAEA;
    padding-left: 43px;
    display: flex;
}

.close_Detail {
    color: #6C5DD3;
    height: 90px;
    display: flex;
    cursor: pointer;
}

.iconClose_Detail {
    margin-top: 27.5px;
    margin-right: 15.3px;
}

.textClose_Detail {
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 90px !important;
}

.logo_Detail {
    display: flex;
    margin: auto;
    margin-left: 6.438rem;
}

.textLogo_Detail {
    color: #6C5DD3;
    margin: auto !important;
    margin-left: 0.6rem !important;
}

.textHeader_Detail {
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #131626;
    line-height: 90px !important;
    margin-right: 13.438rem !important;
}

.content_Detail {
    padding: 1.5rem 13.5rem 6.75rem 13.5rem;
    background-color: #FAFAFA !important;
}

.box_InfoBilling_Detail {
    padding: 1rem;
    height: 225px;
    background: white;
    border-radius: 16px;
}

.title_InfoBilling_Detail {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #131626;
}

.content_InfoBilling_Detail {
    margin-top: 1rem;
    display: flex;
    position: relative;
}

.text_InfoBilling_Detail {
    position: absolute;
    left: 2.25rem;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #4e4e4e;
}

.content_OrderBilling_Detail {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 22px;
    line-height: 22px;
}

.textLeft_OrderBilling_Detail {
    font-weight: 600 !important;
    color: #131626;
    font-size: 14px !important;
}

.textRight_OrderBilling_Detail {
    font-weight: 500 !important;
    color: #4e4e4e;
    font-size: 14px !important;
}

.middle_OrderBilling_Detail {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 26px;
}

.textLeftMiddle_OrderBilling_Detail {
    font-weight: 600 !important;
    color: #131626;
    line-height: 26px !important;
    font-size: 14px !important;
}

.textRightMiddle_OrderBilling_Detail {
    width: 51px;
    background: #6C5DD3;
    border: 1px solid #6c5dd3;
    border-radius: 21px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.table_Detail {
    backgropund: white;
    border-radius: 16px;
    padding: 16px;
    background: white;
}

.titleTable_Detail {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #131626;
    margin-bottom: 16px !important;
}

.tableHead_Detail {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #131626 !important;
}

.tableBody_Detail {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #131626 !important;
}

.noteItem_Detail {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    color: #4E4E4E;
}

.btnAddItem {
    margin: 10px 0 10px 12px !important;
    width: 98px;
    height: 40px;
    background: #6C5DD3 !important;
    box-shadow: 0px 5px 10px rgba(74, 92, 208, 0.2);
    border-radius: 99px !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center;
}

.orderInfo {
    padding: 1rem;
    background-color: white;
    border: 1px solid #6C5DD3;
    border-radius: 16px;
}

.title_OrderInfo_Detail {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #6C5DD3;
}

.line_OrderInfo_Detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.textLeft_OrderInfo_Detail {
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #131626;
}

.textRight_OrderInfo_Detail {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #4E4E4E;
}

.total_OrderInfo_Detail {
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #6C5DD3;
}

.sendBtn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 56px;
    width: 100%;
    background: #6C5DD3 !important;
    box-shadow: 0px 5px 10px rgba(74, 92, 208, 0.2);
    border-radius: 99px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center;
    color: white !important;
    margin-top: 25px !important;
}

.btn_OrderInfo {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 56px;
    width: 100%;
    background: white !important;
    box-shadow: 0px 5px 10px rgba(74, 92, 208, 0.2);
    border-radius: 99px !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 20px !important;
    text-align: center;
    color: #6C5DD3 !important;
    margin-top: 14px !important;
}

.box_Notes_Detail,
.box_Currency_Detail {
    padding: 1rem;
    background: white;
    border-radius: 16px;
    height: 255px;
}

.title_Notes,
.title_Currency {
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 28px !important;
    color: #131626;
}

.select_Currency {
    border-radius: 12px !important;
    margin-top: 1rem;
}

.fSwitch_Currency {
    margin-top: 9px;
}

.switch_Currency {
    margin-top: 2px;
}

.textSwitch {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #131626;
}

.textNotes {
    margin-top: 16px;
    border-radius: 12px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #131626;
    padding: 1rem 1rem 0 1rem;
}

.textNotes:hover {
    border-color: #6c5dd3;
}

.selectCurrency {
    width: 100%;
    height: 48px;
    padding-left: 1rem;
    border: 1px solid #EAEAEA;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #131626;
    margin-top: 16px;
}

.selectCurrency:hover {
    border-color: #6C5DD3;
    cursor: pointer;
}
