#message-drawer-form input{
  color: rgba(19, 22, 38, 1);
  font-size: 16px !important;
  padding: 12px 16px !important;
}
#message-drawer-form .MuiOutlinedInput-root{
  border-radius: 12px !important;
}
#message-drawer-form label{
  font-size: 12px;
  color: rgba(19, 22, 38, 1);
}

#mui-rte-container .MUIRichTextEditor-editorContainer-5{
  border: 1px solid rgba(244, 244, 244, 1);
  min-height: 400px;
  padding: 10px 16px;
  margin: 0;
  background-color: transparent;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
}
#mui-rte-container .MUIRichTextEditor-placeHolder-9{
  color: rgba(159, 160, 166, 1);
}
#mui-rte-toolbar{
  border: 1px solid rgba(244, 244, 244, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
}

#mui-rte-toolbar svg{
  color: rgba(19, 22, 38, 1);
}

