@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
.weight-600{
    font-weight: 600;
}
.size-24px{
    font-size: 24px;
}

/* This is to disable property: '-webkit-text-fill-color'. We want to disable it because its priority is higher than property 'color' */
*,
*::after,
*::before {
    -webkit-text-fill-color: initial
}