$font-weights: ultralight 200, thin 300, light 400, medium 500, semibold 600, bold 700, heavy 800, black 900;
$sizes: 12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px, 30px, 32px, 36px, 40px, 48px;
$weights: 200, 300, 400, 500, 600, 700, 800, 900;
// $breakpoints: 960, 1024, 1280, 1366, 1440;

// ::-webkit-scrollbar {
//   width: 8px;
// }

// ::-webkit-scrollbar-track {
//   background: #FFFFFF;
// }

// ::-webkit-scrollbar-thumb {
//   background: #8F95B2;
//   border-radius: 5px;
// }

@each $font-weight in $font-weights {
  $key: nth($font-weight, 1);
  $value: nth($font-weight, 2);

  @font-face {
    font-family: "SF UI Display" + " " + $value;
    src: url("./assets/font/sf-ui-display-" + $key + ".woff") format("opentype");
  }
}

@each $size in $sizes {
  .size-#{$size} {
    font-size: $size;
    line-height: calc($size + 6px);
  }
}

@each $weight in $weights {
  .weight-#{$weight} {
    font-family: "SF UI Display" + " " + $weight;
  }
}

.text {
  &-left {
    text-align: left !important;
  }

  &-center {
    text-align: center !important;
  }

  &-right {
    text-align: right !important;
  }

  &-justify {
    text-align: justify !important;
  }

}